header
  color: $dark
  float: left
  margin-right: 10px
  position: fixed
  
  nav
    left: 0
    position: absolute
    text-align: right
    top: 540px
    width: 215px
    
    a
      float: right
      clear: right
      +hover-link