.column
  %section#meetings-feed
    .feed(data-url="http://pipes.yahoo.com/pipes/pipe.run?_id=61a7767107cbe52ab16c89b473be98e1&_render=rss")

  %section#links-feed
    .feed(data-url="http://feeds.delicious.com/v2/rss/tag/rug-b?count=15")

.column
  %section#global-feed
    .feed(data-url="http://pipes.yahoo.com/pipes/pipe.run?_id=37b702d85b9c11ea144498931277bc9c&_render=rss")

  %section#twitter-feed
    .feed(data-url="http://pipes.yahoo.com/pipes/pipe.run?_id=40fd47d0f23e8bea63cd2c448b49f1fa&_render=rss")

.column
  %section#posts-feed
    .feed(data-url="http://groups.google.de/group/rug-b/feed/rss_v2_0_msgs.xml")

  %section#github-feed
    .feed(data-url="http://pipes.yahoo.com/pipes/pipe.run?_id=ee828a51b55abff6bc584921cd20f881&_render=rss")
